@import url("https://fonts.googleapis.com/css2?family=Rubik");

/* Misc Selectors */

*:active {
 	border-width:0px;
}

[small] {
	font-size:2px;
}

h2 {
	text-decoration:underline;
}

span {
	display:inline-block;
	white-space:pre;
}

a,[clk] {
	color:#AAA;
	transition:color .2s;
	cursor:pointer;
}
a:hover,[clk]:hover {
	color:#666; /* lawl */
}

footer {
	position:absolute;
	bottom:5%;
}
	
.Year,.subYear {
	text-decoration:underline;
	margin-bottom:10px;
}

.subYear {
	font-size:12px;
}

/* Body */
body {
	margin-top:20px;
	margin-bottom:20px;
	font-family:"Rubik";
	color:#EEE;
	background: #474747;
	background: -webkit-linear-gradient(top left, #474747, #1B1B1B);
	background: -moz-linear-gradient(top left, #474747, #1B1B1B);
	background: linear-gradient(to bottom right, #474747, #1B1B1B);
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	word-wrap:break-word;
}
